:root {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  place-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
}

.app {
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  max-width: 550px;
  max-height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

header {
  display: flex;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  padding: 19px 19px;
}

header img {
  max-height: 24px;
}

header img.logo {
  max-height: 30px;
}

button {
  width: 70px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px #E9E9EA;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.buttons-div {
  display: flex;
  justify-content: center;
  column-gap: 34px;
  padding: 19px;
}

button.heart img {
  width: 30px;
}

button.heart:hover {
  background: #DBFFF4;
  box-shadow: 0px 10px 20px #CCF1E6;
}

button.cross img {
  width: 25px;
}

button.cross:hover {
  background: #FFE7EF;
  box-shadow: 0px 10px 20px #EDD9DF;
}

button:disabled {
  cursor: not-allowed;
}

.end-div {
  position: absolute;
  top: 30%;
  color: #4d4c4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  max-width: 320px;
  text-align: justify;
}

.end-div img {
  width: 70px;
}

.TinderCard {
  user-select: none;
  position: absolute;
}

.TinderCard.swiped {
  pointer-events: none;
}

.profiles-div {
  height: 460px;
  width: 340px;
  position: relative;
}

.card-div {
  position: relative;
  background-color: transparent;
  align-self: center;
  background-size: cover;
  background-position: center;
  height: 460px;
  width: 340px;
  border-radius: 15px;
  position: relative;
}

.card-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.802) -0.44%, rgba(0, 0, 0, 0) 40.97%);
  z-index: 1;
  border-radius: inherit;
}

.prof-pic-img {  
  object-fit: cover;
  width: 100%;
  overflow-y: hidden;
  height: 460px;
  border-radius: 15px;
  pointer-events: none;
}

.prof-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  justify-self: center;
  padding: 18px;
  pointer-events: none;
}

.prof-info-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #F8F8F8;
  margin-bottom: 3px;
}

.prof-info-bio {
  color: #F8F8F8;
}

.decision-icon {
  position: absolute;
  width: 180px;
  left: 14px;
  top: 40px;
  border-radius: 10.3807px;
  transform: rotate(-30deg);
  transition: 2ms;
  pointer-events: none;
}